language: android
jdk: oraclejdk8
sudo: false
before_install:
- yes | sdkmanager "platforms;android-28"
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.gradle/daemon"
  - "$HOME/.gradle/native"
  - "$HOME/.android/build-cache"
env:
  global:
  - GRADLE_OPTS="-Xmx512m"
  - ADB_INSTALL_TIMEOUT=8
android:
  components:
  - tools
  - platform-tools
  - tools
  - build-tools-28.0.3
  - android-22
  - sys-img-armeabi-v7a-android-22
  - android-28
  - extra-android-m2repository
  - extra-android-m2repository
  - extra-google-m2repository
  - extra-android-support
script:
- "./scripts/cd_script.sh"
